*{
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: linear-gradient(to top right, black, #3a4452);
}
header{
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    padding: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    
}
nav{
    display: flex;
    gap: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #fff;
}
a .título{
    font-family: 'Roboto Mono', monospace;
    font-size: 22px;
}
main{
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 85px;
}
.calculadora{
    background-color: #3a4452;
    border-radius: 10px;

}
.calculadora input{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: none;
    margin: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff;
    transition: .20s;
}
input.display{
    width: 313px;
}
input.igual{
    width: 145px;
}
form input.operador{
    color: #33ffd8;
}
input:hover{
    background: #2a2c2c;
}